nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  
}
.average-sans-regular {
    font-family: "Average Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .nav-title{
    font-weight: regular ;
    font-size:28px;
  }
  .resume-btn {
    padding: 10px 20px;
    background-color:0D1321;
    color: 0D1321;
    border: solid black;
    cursor: pointer;
  }
  .hero {
    text-align: center;
    padding: 50px 20px;
    background-color: #e0e0e0;
  }

    .contact-btn {
      padding: 10px 20px;
      background-color: #000;
      color: #fff;
      border: none;
      cursor: pointer;
    }

      #hero h2 {
        
        
        font-weight: bolder;
        text-align: center;
    }

    #hero p {
      font-size: 16px;
      margin: 20px 0;
      text-align: center;
      font-weight: regular ;
  }
.hero-bg{
  background-image: url("assets/Hero-bg.png");
  text-align: center;
  font-size:24px;
  width: 1440px;
  height: 480px;
  
 
}

.why-webdev {
  text-align: center;
  background-color: 0D1321;
  justify-content: center;
  

  
  
}



.why-webdev h1 {
  font-size: 32px;
  font-weight:ExtraBold;
  padding-top: 50px;
  
}
  

.why-webdev p{
  font-size:16px;
  text-align: center;
    color: #666;
    max-width: 6000px;
    gap:none;
    margin-bottom: 50px;
  
}


.card {
  background-color: #fff;

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 886px;
  height: 200px;
  margin: 0 auto;
  
}


.card img {
  width: 200px;
  height: 150px;
}
.card-content {
  flex: 1;
  padding: 0 20px;
  text-align:left;
  gap:20px;
}
.card-content h2 {
  font-size: 24px;
  font-weight: bold;

  color: 0D1321;
  margin: 0 0 30px;
  word-spacing: 5px;
}
.card-content p {
  color:0D1321;
  font-size: 16px;
text-align: left;

}
.card-content .btn {
  margin-top:2px;
  display: inline-block;
  padding: 8px 10px;
  border: 1px solid #333;
  border-radius: 4px;
  text-decoration: none;
  color: #333;
  font-size: 0.9em;
  
}

.my-ins{
    width: 80%;
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
    background-color: #fff;
    padding:5px;
    width: 1140px;
    
    

}
.my-ins h2 {
  font-size: 2em;
  margin-bottom: 20px;
  color: #333;
  font-weight: bold;
  
}
.my-ins p {
  font-size: 1em;
  color: #666;
  margin-bottom: 30px;
}
.video-container {
  position: relative;
  padding-bottom: 56.25%; 
  height: 0;
  overflow: hidden;
  max-width: 100%;
  background: #000;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}



.text-center{
  text-align: center;

}
.skills-container{
  display: flex;
  gap:24px;
  
}
.skill{
  padding: 30px;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
  border-radius: 5 px;
  width: 1140px;
  margin: 0 auto;
}
 .skill-h2 {
  font-size: 32px;
  color:0D1321;
  font-weight:ExtraBold;
}

.skill-P {
  font-size: 16px;
  color: #666;
  
}
   .skill-c{
    background-color: rgba(255, 76, 30, 0.05);
   }
   .skill-c2{
    background-color: rgba(0, 76, 232, 0.05);
   }
   .skill-c3{
    background-color: rgba(255, 223, 0, 0.05);
   }
   .section {
    text-align: center;
    padding: 50px 20px;
    width: 80%;
    max-width: 1140px;
    margin: 0 auto;
}

.card-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  
  text-align: center;
}
.card_img {
  width: 143px;
  height: 88px;
  margin-bottom: 20px;
}


.support-section {
  width: 1140px;
  height: 330px;
  background-image: url('assets/handshake.jpg'); 
  
  background-position: center;
  display: flex;

  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 20px;
  margin-top: 40px;
 
}

.support-content {
  

  padding: 20px;
  
  text-align: center;
  color: white;
  
}

.support-content h1 {
  margin: 0;
  font-size: 32px;
  font-weight: bold;
  color:#fff;
}

.support-content p {
  margin: 10px 0 20px 0;
  font-size: 16px;
  color: #fff;
}

.support-content input[type="text"] {
  width: 80%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-bottom: 10px;
}

.support-content input[type="submit"] {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color:white;
  color:black;
  font-size: 14px;
  justify-content: flex-start;
  display: inline-block;
}

.footer {
  background-color: #f8f8f8;
  padding: 20px;
  text-align: center;
  border-top: 1px solid #e7e7e7;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  margin: 0 auto;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 900px;
  margin: 0 auto;
}

.footer-content span {
  font-weight: bold;
}

.social-icons a {
  margin-left: 10px;
}

.social-icons img {
  width: 24px;
  height: 24px;
}