nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  
}
.average-sans-regular {
    font-family: "Average Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .nav-title{
    font-weight: regular ;
    font-size:28px;
  }
  .resume-btn {
    padding: 10px 20px;
    background-color:0D1321;
    color: 0D1321;
    border: solid black;
    cursor: pointer;
  }
  .hero {
    text-align: center;
    padding: 50px 20px;
    background-color: #e0e0e0;
  }

    .contact-btn {
      padding: 10px 20px;
      background-color: #000;
      color: #fff;
      border: none;
      cursor: pointer;
    }

      #hero h2 {
        
        
        font-weight: bolder;
        text-align: center;
    }

    #hero p {
      font-size: 16px;
      margin: 20px 0;
      text-align: center;
      font-weight: regular ;
  }
.hero-bg{
  background-image: url("assets/Hero-bg.png");
  text-align: center;
  font-size:24px;
  width: 1440px;
  height: 480px;
  
 
}

.why-webdev {
  text-align: center;
  background-color: 0D1321;
}



.why-webdev h1 {
  font-size: 32px;
  font-weight:ExtraBold;
  padding-top: 50px;
  
}
  

.why-webdev p{
  font-size:16px;
  text-align: center;
    color: #666;
    max-width: 6000px;
    gap:none;
  
}
.reason {
  margin-bottom: 30px;
}

.reason h3 {
  font-size: 20px;
}

.reason p {
  font-size: 16px;
  margin: 10px 0;
}

.reason button {
  padding: 10px 20px;
  background-color: #000;
  color: #fff;
  border: none;
  cursor: pointer;
}